<!DOCTYPE html>
<html>
<head>
  <title>Регистрация</title> 
  <link rel="icon" href="/picture/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/registerIndex.css">
  <style> 
  </style>
</head>

<body>
  <div id="login-container">
    <img src="/picture/w256h2561384699897signup2.png">
    <h1>Регистрация</h1> 
    <form action="/api/register" method="POST">
      <div class="input-wrapper"> 
        <label for="username">Имя:</label>
        <input type="text" id="username" name="UserName" placeholder="Имя" required>
      </div>
    
      <div class="input-wrapper">
        <label for="lastname">Фамилия:</label>
        <input type="text" id="lastname" name="UserLastName" placeholder="Фамилия" required>
      </div>
    
      <div class="input-wrapper">
        <label for="email">Email:</label>
        <input type="email" id="email" name="UserEmail" placeholder="Email" required>
      </div>
    
      <div class="input-wrapper">
        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="UserPhone" placeholder="Телефон" required>
      </div>
    
      <div class="input-wrapper">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="UserPassword" placeholder="Пароль" required>
      </div>
    
      <input type="submit" value="Зарегистрироваться" class="floating-button"></br></br>
      <a class="link" href="https://localhost">На главную</a> 
    </form>
    
    <div id="success-message" class="notification hide">Регистрация прошла успешно!</div>
    <div id="error-message" class="notification hide">Пользователь с такой почтой уже существует</div>
    <div id="space-error-message" class="notification hide">Заполните поля правильно</div>

    <script> 
    var form = document.querySelector('form');
    var successMessage = document.getElementById('success-message');
    var errorMessage = document.getElementById('error-message'); 
    var spaceErrorMessage = document.getElementById('space-error-message');
    var urlParams = new URLSearchParams(window.location.search);

    if (urlParams.get('success')) {
      successMessage.classList.remove('hide');
      setTimeout(function() {
        successMessage.classList.add('hide');
      }, 5000); 
      var newUrl = window.location.href.split('?')[0];
      window.history.replaceState({}, '', newUrl);
    }

    if (urlParams.get('error')) {
      errorMessage.classList.remove('hide');
      setTimeout(function() {
        errorMessage.classList.add('hide');
      }, 5000);
      var newUrl = window.location.href.split('?')[0];
      window.history.replaceState({}, '', newUrl);
    }

    form.addEventListener('submit', function(event) {
      event.preventDefault(); 
      var userNameInput = document.getElementById('username');
      var userLastNameInput = document.getElementById('lastname');
      var userEmailInput = document.getElementById('email');
      var userPhoneInput = document.getElementById('phone');
      var userPasswordInput = document.getElementById('password');

      if (hasSpaces(userNameInput.value) || hasSpaces(userLastNameInput.value) || hasSpaces(userEmailInput.value) || hasSpaces(userPhoneInput.value) || hasSpaces(userPasswordInput.value)) {
        spaceErrorMessage.classList.remove('hide');
        setTimeout(function() {
          spaceErrorMessage.classList.add('hide');
        }, 5000);
        return;
      }

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/api/register');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) { 
          successMessage.classList.remove('hide');
          setTimeout(function() {
            successMessage.classList.add('hide');
          }, 5000); 
          setTimeout(function() {
            window.location.href = "https://localhost/";
          }, 3000);
        } else if (xhr.status === 409) { 
          errorMessage.classList.remove('hide');
          setTimeout(function() {
            errorMessage.classList.add('hide');
          }, 5000);
        } else { 
          console.log(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
        UserName: userNameInput.value,
        UserLastName: userLastNameInput.value,
        UserEmail: userEmailInput.value,
        UserPhone: userPhoneInput.value,
        UserPassword: userPasswordInput.value
      }));
    });

    function hasSpaces(value) {
      return value.includes(' ');
    }

    </script>
  </div>
</body>
</html>
